*{
    margin: 0;
    padding: 0;
    
}

.forgot-main{
    display: flex;
    justify-content: center;
}

.forgot-container{ 
    /* text-align: center; */
    margin-top: 150px;
}

.input-pass{
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
}

.email-pas{
    /* text-align: center; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.forgot-btn{
    /* margin-top: 10px; */
      background-color: #4c82af; /* Green */
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.forgot-btn:hover{
    background-color: forestgreen;
}